.new-releases__slide {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white-color);
    padding: 0 24px 24px;
    
}

.new-releases__slide .card__item {
    margin-bottom: 4%;
}

.new-releases__slide .film__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}