.chevron-arrow {
    width: 22px;
    height: 22px;
}

.swiper-container>.chevron-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

.swiper-container>.chevron-arrow:hover {
    cursor: pointer;
}

.header .swiper-container>.chevron-arrow__left {
    left: var(--swiper-button-padding);
}

@media (min-width: 850px) {
    .header .swiper-container>.chevron-arrow__left {
        left: calc(var(--swiper-button-padding) + var(--sidebar-width));
    }
}

.swiper-container>.chevron-arrow__right {
    right: var(--swiper-button-padding);
}