.chevron-arrow {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron-arrow:hover {
    scale: 1;
}

.swiper-container>.chevron-arrow {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    z-index: 30;
}

.swiper-container>.chevron-arrow:hover {
    cursor: pointer;
}

.header .swiper-container>.chevron-arrow__left {
    left: var(--swiper-button-padding);
}

@media (min-width: 850px) {
    .header .swiper-container>.chevron-arrow__left {
        left: calc(var(--swiper-button-padding) + var(--sidebar-width));
    }
}

.swiper-container>.chevron-arrow__right {
    right: var(--swiper-button-padding);
}