.section__featured-tv-shows .film__card {
    height: 600px;
}

@media (min-width: 1100px) {
    .section__featured-tv-shows .film__card {
        height: 736px;
    }
} 

@media (min-width: 1600px) {
    .section__featured-tv-shows .film__card {
        height: 70vh;
    }
}