.film__watch-now {
    opacity: 0;
    height: 0;
    transition: 400ms;
}

.film__card>.film__watch-now.section__title {
    font-size: 13px;
    letter-spacing: 0.7px;
}

.section .slide:hover .film__watch-now {
    opacity: 1;
    height: 25px;

}

.section .slide:hover {
    cursor: default;
}

.zoom-background {
    background-size: 100% 100%;
    transition: background-size 300ms ease-in-out;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.zoom-background:hover {
    background-size: 105% 105%;
}