.slide {
    color: var(--white-color);
}

.header .slide {
    height: calc(100vh - var(--sidebar-width));
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    .header .slide {
        height: auto;
        min-height: 648px;
        justify-content: flex-start;
    }
}

.header .slide .film__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--sidebar-width);
}

@media (min-width: 850px) {
    .header .slide .film__card {
        padding: 0;
        padding-left: calc(var(--sidebar-width) + 15vw);
    }
}

.header .slide .film__card .card__item {
    margin-bottom: 16px;
}

.header .slide .film__name {
    font-size: min(56px, 12vw);
    line-height: min(64px, 15vw);
    font-weight: 500;
}

.header .slide .film__description {
    font-weight: 400;
    text-align: justify;
    overflow-y: scroll;
    max-height: 135px;
    padding-right: 5px;
}

@media (min-width: 450px) {
    .header .slide .film__description {
        overflow-y: hidden;
        font-size: 16px;
        line-height: 32px;
        padding-right: 0;
    }
}

@media (min-width: 850px) {
    .header .slide .film__description {
        max-width: 632px;
    }
}