.section .film__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white-color);
    padding: 0 8% 8%;
    
}

.section .film__card .card__item {
    margin-bottom: 4.5%;
}

.section .film__card .film__name {
    font-weight: 500;
}