.section__new-releases .film__card {
    height: 600px;
}

@media (min-width: 500px) {
    .section__new-releases .film__card {
        height: 400px;
    }
}

.section__new-releases .film__card,
.section__featured-tv-shows .film__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white-color);
    padding: 0 8% 8%;
    
}

.section__new-releases .film__card .card__item,
.section__featured-tv-shows .film__card .card__item {
    margin-bottom: 4.5%;
}

.section__new-releases .film__card .film__name,
.section__featured-tv-shows .film__card .film__name {
    font-weight: 500;
    font-size: max(16px, 1.5vw);
}

@media (min-width: 1600px) {
    .section__new-releases .film__card {
        height: 50vh;
    }
}