.swiper-container {
    position: relative;
    min-width: 0;
}

.swiper-button__disabled {
    display: none;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--light-color);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--white-color);
}