.swiper-container {
    position: relative;
    min-width: 0;
}

.swiper-wrapper {
    justify-content: space-between;
}

.swiper-container>.chevron-arrow__disabled {
    display: none;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--light-color);
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--white-color);
}
