.badge {
    width: fit-content;
    font-size: 14px;
    line-height: 16px;
    padding: 4px 8px;
    background-color: var(--overlay-color);
    color: var(--badge-color);
    border-radius: 0 8px;
}

@media (min-width: 1600px) {
    .badge {
        font-size: 1vw;
        padding: 1.2vh 1.15vw;
        border-radius: 0 0.8vw;
    }
}

.badge:hover {
    text-decoration: underline;
    cursor: default;
}