.header__nav {
    position: absolute;
    top: var(--sidebar-width);
    right: 0;
    z-index: 30;
    justify-content: end;
    padding: 2vw 2.2vw;
}

@media (min-width: 850px) {
    .header__nav {
        top: 0;
    }
}

.header__nav a {
    margin: 0 1.8vw;
}

.header__nav a img {
    padding: 7px;
    margin-bottom: -4px;
}