.header__nav {
    position: absolute;
    top: var(--sidebar-width);
    right: 0;
    z-index: 30;
    justify-content: end;
    padding: 25px 30px;
}

@media (min-width: 850px) {
    .header__nav {
        top: 0;
    }
}

.header__nav img {
    padding: 0 30px;
}