.header__sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--sidebar-width);
    background-color: rgba(var(--bg-color-rgb), 0.8);
    z-index: 50;
    padding: 0 2px;
}

.header__sidebar .sidebar__nav {
    height: 85%;
    flex-direction: column;
    justify-content: space-evenly;
}