.header__sidebar {
    background-color: rgba(var(--bg-color-rgb), 0.8);
    z-index: 50;
    padding: 0 2px;
}

@media (min-width: 850px) {
    .header__sidebar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: var(--sidebar-width);
    }
}

.header__sidebar .sidebar__nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (min-width: 850px) {
    .header__sidebar .sidebar__nav {
        height: auto;
        flex-direction: column;
        height: 85%;
    }
}

.header__sidebar .sidebar__nav .nav__link {
    transform: scale(1);
    text-align: center;
}

.header__sidebar .sidebar__nav .nav__link img {
    width: 30px;
    height: 30px;
    padding: 7px;
    margin-bottom: -4px;
}

.header__sidebar .sidebar__nav .nav__link:hover {
    transform: scale(1.105);
    background-color: rgba(var(--light-color-rgb), 0.1);
    border-radius: 50%;
}