.footer {
    margin: 20px 0;
    color: var(--white-color);
    text-align: center;
    font-size: 12px;
}

@media (min-width: 425px) {
    .footer {
        text-align: right;
        margin-right: 2vw;
    }
}

.footer a {
    color: var(--badge-color);
    opacity: 1;
    transition: 400ms;
}

.footer a:hover {
    opacity: 0.5;
}