.swiper-button {
    width: 22px;
    height: 22px;
}

.swiper-button.inline {
    display: inline-block;
}

.swiper-container>.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

.swiper-container>.swiper-button:hover {
    cursor: pointer;
}

.header .swiper-container>.swiper-button__prev {
    left: var(--swiper-button-padding);
}

@media (min-width: 850px) {
    .header .swiper-container>.swiper-button__prev {
        left: calc(var(--swiper-button-padding) + var(--sidebar-width));
    }
}

.swiper-container>.swiper-button__next {
    right: var(--swiper-button-padding);
}