.nav {
    display: flex;
    align-items: center;
}

.container {
    margin: 0 8px;
}

@media (min-width: 650px) {
    .container {
        margin: 0 var(--sidebar-width);
    }
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.action-icon {
    scale: 1;
}

.action-icon:hover {
    scale: 1.105;
    background-color: rgba(var(--light-color-rgb), 0.1);
    border-radius: 50%;
}

@media (min-width: 1600px) {
    :root {
        --sidebar-width: 4vw;
        --swiper-button-padding: 3vw;
    }

    .action-icon img {
        min-width: 2vw;
        min-height: 2vw;
    }
}