.nav {
    display: flex;
    align-items: center;
}

.container {
    margin: 0 8px;
}

@media (min-width: 650px) {
    .container {
        margin: 0 var(--sidebar-width);
    }
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}