@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --bg-color: rgb(29, 29, 29);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
    background-color: var(--bg-color);
}