.error {
    color: var(--white-color);
    text-transform: uppercase;
    padding: 30px 0;
    border-top: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    width: 70%;
    text-align: center;
}